<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = google.visualization.arrayToDataTable([
          <%= DATA %>
        ]);

        // Series options
        // 0 - phi
        // 1 - threshold
        // 2 - infinity
        var series_options = {
          0: {
              color: 'Green',
              lineWidth: 3
            },
          1: {
            color: 'DarkRed',
            lineWidth: 1
          },
          2: {
              color: 'Black',
              lineWidth: 1
          }
        };

        // Set chart options
        var options = {
                        'title':'<%= TITLE %>',
                         'width': 800,
                         'height':600,
                          hAxis: {
                            title: 'Time (ms)',
                            titlePosition: 'out',
                            minValue: -1
                          },
                          series: series_options
                      };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
    <p><%= NOTES %></p>
  </body>
</html>